extends layout

block content
  div(id='top')
    div(class='top-left')
      div(class='pad-left')
        p(class='date-widget')
          span(id="date")
            | !{date}
        p(class='holiday-widget')
          span(id='holiday')= holiday
        p(class='weather-widget')
          span(id='weather')= weather
    div(class='top-right')
      div(class='pad-right')
        a(href='', id='news-title-link')
          p
            span(id='news-title')= reddit_title
        p
          span(id='score-3')= reddit_score
        p
          - var test = String.fromCharCode(8594);
          span(id='next-post-news') next post #{test}
  div(id='bottom')
    div(class='container-rect')
      div(id='search')
        input(id='search-bar', type='text', placeholder='search')
      div(id='links')
        each listObject in lists
          if listObject.type === 'separator'
            include separator.pug
          else if listObject.type === 'link'
            include list.pug
            +list(listObject.links, listObject.cat, listObject.color)
  div(id='bottom')
    div(class='container-rect')
      div(id='links')
        each listObject in copies
          if listObject.type === 'separator'
            include separator.pug
          else if listObject.type === 'copy'
            include copies.pug
            +copies(listObject.copies, listObject.cat, listObject.color)